/0x0023/		Uglyhack # TBD

/0x1337/		@thinkl33t

/0x4291/		@matthewwilkes

/0xbad3/		@matthewwilkes @thinkl33t
/0xbad3/0x4eeb	@sodoku
/0xbad3/0x31f1	@thinkl33t

/0xcafe/0x0191	@DanNixon
/0xcafe/0x0ca7	Rox
/0xcafe/0x1936	@mich181189
/0xcafe/0x2305	Thinginnovations # TBD
/0xcafe/0x4247	@Skyler84
/0xcafe/0x4d10	@Skyler84
/0xcafe/0x5107	Coral # TBD
/0xcafe/0x5364	@matthewwilkes
/0xcafe/0x5baa	@walkerdanny
/0xcafe/0x5e6a	@matthewwilkes
/0xcafe/0xbee5	@gsuberland
/0xcafe/0xcaff	@walkerdanny
/0xcafe/0xcbca	@Robotmad
/0xcafe/0xcbcb	@Robotmad
/0xcafe/0xcbcc	@Robotmad
/0xcafe/0xcbcd	@Robotmad
/0xcafe/0xcbce	@Robotmad
/0xcafe/0xcbcf	@Robotmad
/0xcafe/0xd15c	@hairymnstr
/0xcafe/0xdc01	@hairymnstr

/0xcbcb/		@Robotmad

/0xf055/0x4247	@Skyler84
/0xf055/0x4d10	@webmariner
/0xf055/0x8426	@dratini0
/0xf055/0x8427	@dratini0
/0xf055/0x9009	@thinkl33t

/0xcafe/0x0055	@DanNixon

/0x7cab/	@TechCabin
